@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Holy Shirts & Pants</h1>
    <p class="lead"><i>It's a little corny and obvious, but what do you get out of being subtle, right?</i></p>
    <p>Use this app to organize your wardrobe and choose an outfit.</p>
    <p><a href="Outfits/Index" class="btn btn-primary btn-lg">Pick an outfit &raquo;</a></p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="thumbnail">
            <h2>Tops</h2>
            <p>Choose from your closet's selection of shirts for any occasion.</p>
            <p><a class="btn btn-default" href="Tops">Pick a top &raquo;</a></p>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="thumbnail">
            <h2>Bottoms</h2>
            <p>It is important to wear pants, especially when in public. Here you can choose a pair.</p>
            <p><a class="btn btn-default" href="Bottoms">Pick a bottom &raquo;</a></p>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="thumbnail">
            <h2>Shoes</h2>
            <p>Don't want to go barefoot? Shoes are the suggested solution to that age-old dilemma.</p>
            <p><a class="btn btn-default" href="Shoes">Pick shoes &raquo;</a></p>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="thumbnail">
            <h2>Accessories</h2>
            <p>Nothing complements cheap clothes from Walmart better than a $10,000 Rolex.</p>
            <p><a class="btn btn-default" href="Accessories2">Pick an accessory &raquo;</a></p>
        </div>
    </div>
</div>